/* Estilos generales */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #6495ED, #FFFFFF);
    margin: 0;
    padding: 0;
    color: #333;
    min-height: 100vh; /* Esto asegura que el degradado se aplique a toda la altura de la ventana del navegador */
    background-size: cover;
}

.title {
    color: #007bff; /* Color del texto */
    font-size: 54px; /* Tamaño de la fuente */
    text-align: center; /* Alineación centrada */
    margin-bottom: 30px; /* Margen inferior */
}

.title::before {
    content: "\1F426"; /* Código Unicode para el emoji de pajarito */
    margin-right: 10px; /* Espacio a la derecha del emoji */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

textarea {
    width: calc(100% - 40px);
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100% - 19px); /* Ancho igual al del textarea */
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos para la lista de tweets */

#lista-tweets {
    margin-top: 20px;
}

.tweet-container {
    background-color: #e1e7fd; /* Color de fondo para el cuadro del tweet */
    padding: 10px; /* Espacio interior dentro del cuadro */
    border-radius: 5px; /* Bordes redondeados para el cuadro */
    margin-bottom: 10px; /* Margen inferior entre los cuadros */
    position: relative; /* Permitir posición absoluta de la "X" */
}

.borrar-tweet {
    color: #fff; /* Color blanco para la "X" */
    font-size: 18px; /* Tamaño de fuente */
    text-decoration: none; /* Eliminar subrayado */
    position: absolute; /* Posición absoluta para la "X" */
    top: 5px; /* Alinear en la esquina superior */
    right: 5px; /* Alinear en la esquina derecha */
    width: 25px; /* Ancho del contenedor de la "X" */
    height: 25px; /* Altura del contenedor de la "X" */
    border-radius: 50%; /* Formar un círculo */
    background-color: #ff0000; /* Color de fondo rojo */
    text-align: center; /* Centrar texto (la "X") */
    line-height: 25px; /* Centrar verticalmente */
}

.borrar-tweet:hover {
    background-color: #cc0000; /* Cambiar color de fondo al hacer hover */
    cursor: pointer; /* Cambiar cursor a mano al pasar el ratón */
}

.label-tweet {
    font-weight: bold; /* Hacer el texto en negrita */
    color: #3ea70d; /* Color del texto */
    font-size: 34px;
}